<div class = "panel panel-default">
	   <div class = "panel-heading">
	      <h3 class = "panel-title">Widget Title</h3>
	   </div>
	   <div class = "panel-body">
	      <div class="well">&lt;Some JS code....&gt; </div>
	      <button type="button" class="btn btn-info pull-right">Embed Code</button>
	   </div>
	  </div>