<div class = "panel panel-default">
   <div class = "panel-heading">
      <h3 class = "panel-title">{{title}}</h3>
   </div>
   <div class = "panel-body">
      <div class="well" id="widget-well-{{elemCounter}}">
      		{{data}}
      </div>
      <button type="button" class="btn btn-info pull-right" id="embed-widget-{{elemCounter}}">Embed Code</button>
   </div>
</div>